In [2]:
# Declare a float value and store it in a variable. Check the type and print the id of the same.
a = 2.56
print(a, type(a), id(a))

2.56 <class 'float'> 2532991523280

In [10]:
# Arithmetic Operations on float 
# Take two different float values. Store them in two different variables. Do below operations on them:-
a = 14.55
b = 10.65

# Find sum of both numbers
c = a + b
print(c)

# Find difference between them
d = a - b
print(d)

# Find the product of both numbers.
e = a * b
print(e)

# Find value after dividing first num with second number
f = a/b
print(f)

# Find the remainder after dividing first number with second number
g = a%b
print(g)

# Find the quotient after dividing first number with second number
h = a//b
print(h)

# Find the result of the first num to the power of the second number.
i = a**b
print(i)

25.200000000000003
3.9000000000000004
154.9575
1.3661971830985915
3.9000000000000004
1.0
2423767059680.449

In [14]:
# Comparison Operators on float
# Take two different float values. Store them in two different variables. Do below operations on them:-
# Compare these two numbers with below operator:-
a = 14.55
b = 10.65

# Greater than, '>'
print(a>b)

# Smaller than, '<'
print(a<b)

# Greater than or equal to, '>='
print(a>=b)

# Less than or equal to, '<='
print(a<=b)

# Observe their output(return type should be boolean)

True
False
True
False

In [17]:
# Equality Operator
# Take two different float values. Store them in two different variables. 
# Equate them using equality operators (==, !=)
# Observe the output(return type should be boolean)
a = 14.55
b = 10.65
print(a==b)
print(a!=b)

False
True

In [23]:
# Logical operators
# Observe the output of below code. Cross check the output manually
print ( 10.20 and 20.30 )

20.3

In [24]:
print ( 0.0 and 20.30 )

0.0

In [25]:
print ( 20.30 and 0.0 )

0.0

In [26]:
print ( 0.0 and 0.0 )

0.0

In [27]:
print ( 10.20 or 20.30 )

10.2

In [28]:
print ( 0.0 or 20.30 )

20.3

In [29]:
print ( 20.30 or 0.0 )

20.3

In [30]:
print ( 0.0 or 0.0 )

0.0

In [31]:
print ( not 10.20 )
# 10.20 is true hence the result will be false

False

In [32]:
print ( not 0.0 )
#0.0 is false hence the result is true

True

In [45]:
# What is the output of expression inside print statement. Cross check before running the program.
a = 10.20
b = 10.20
c = a
print (a is b) 
print (a is not b)
print(id(a))
print(id(b))
print(id(c))
# Why the Id of float values are different when the same value is assigned to two different variables
# ex: a = 10.5 b=10.5. but id will be same if I assign the variable having float i.e. a=c then both a and c's Id are same

False
True
2532991865488
2532991866384
2532991865488

In [ ]:
# Bitwise operation is not applicable between instances of float.
# Why the Id of float values are different when the same value is assigned to two different variables
# ex: a = 10.5 b=10.5. but id will be same if I assign the variable
# having float i.e. a=c then both a and c's Id are same
# Object reusability concept is not applicable on float values.

In [49]:
# Membership operation in, not in are two membership operators and it returns boolean value
print ('2.7' in 'Python2.7.8')
#2.7 is available in Python2.7.8

print (10.20 in [10 , 10.20 , 10 + 20j , 'Python']) 
#10.20 is avilable 10 , 10.20 , 10 + 20j , 'Python'

print (10.20 in (10 , 10.20 , 10 + 20j , 'Python'))
# 10.20 is available in 10 , 10.20 , 10 + 20j , 'Python'

print (20.30 in {1 , 20.30 , 30 + 40j })
# 20.30 is available in 1 , 20.30 , 30 + 40j

print (2.3 in {1 : 100 , 2.3 : 200 , 30 + 40j : 300 })
# 2.3 is available in key

print (10 in range ( 20 ))
# 10 is available in 0-19 range

True
True
True
True
True
True